[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/balajiakshaykumar
[access "refs/for/refs/*"]
	read = group user/balajiakshaykumar
	push = group user/balajiakshaykumar
	label-Code-Review = -2..+2 group user/balajiakshaykumar
	label-Verified = -1..+1 group user/balajiakshaykumar
	rebase = group user/balajiakshaykumar
	removeReviewer = group user/balajiakshaykumar
	submit = group user/balajiakshaykumar
[access "refs/heads/*"]
	read = group user/balajiakshaykumar
	create = group user/balajiakshaykumar
	push = +force group user/balajiakshaykumar
	pushMerge = group user/balajiakshaykumar
[access "refs/tags/*"]
	push = group user/balajiakshaykumar
	push = +force group user/balajiakshaykumar
